.wrap {
    background: #A9A9A9;
    padding: 30px;
}
.value{
    border: 1px solid #006;
}
input.value.result {
    margin: 10px;
}

.title {
    font-variant: petite-caps;
    font-size: 25px;
    margin: 30px;
    text-align: center;
    color: #d39;
}
